<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">Attention</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>

                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if 'send_email' in segment %} active {% endif %}">
                    <a href="{% url 'send_email' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-mail"></i></span><span
                            class="pcoded-mtext">Send email</span></a>
                </li>

                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if 'subscription_list' in segment %} active {% endif %}">
                    <a href="{% url 'subscription_list' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-list"></i></span><span
                            class="pcoded-mtext">Subscription List</span></a>
                </li>

                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
                    class="nav-item {% if 'subscription_create' in segment %} active {% endif %}">
                    <a href="{% url 'subscription_create' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-plus-circle"></i></span><span
                            class="pcoded-mtext">Subscription Create</span></a>
                </li>


                <li data-username="Profile Page" 
                    class="nav-item {% if 'profile' in segment %} active {% endif %}">
                    <a href="/profile.html" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                            <span class="pcoded-mtext">Profile Page</span></a>
                </li>                


                <li data-username="Disabled Menu" class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
                    </a>
                </li>


            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
