{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
        <div class="pcoded-main-container">

  <div class="m-4 p-4 container mt-5">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Success!</h4>
      <p>Your submission has been successful.</p>
    </div>
  </div>
  </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}